<html>

<head>
<link  rel = "stylesheet" href = "dashboard.css" type = 'text/css'/>
<link rel = "stylesheet" href ="/static/bootstrap/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css" type = 'text/css'/>

<style>
a {
display:block;
font-size:30px;
text-decoration:none;
padding : 20px;
margin : 200px;
}

</style>

</head>
<body style ='background-color:skyblue'>
<div class = "container">
  <div class = 'btn-group btn-group-justified'>
    <a href = "/TD/showContact/" class = 'btn btn-primary'>Add a Contact</a>
    <a href = "/TD/dispContacts/" class = 'btn btn-primary'>Show Contacts</a>
    <a href = "#/TD/showUpdate/" class = 'btn btn-primary'>Update Contact</a>
    <a href = "#/TD/showDelete/" class = 'btn btn-primary'>Delete Contact</a>
  </div>
</div>
</body>


</html>
