<html>

<head>
<link  rel = "stylesheet" href = "dashboard.css" type = 'text/css'/>
<style>
a {
display:block;
color:black;
text-align:center;
float:left;
font-size:30px;
padding:20px;
background-color:brown;
text-decoration:none;
margin:150px;
}

</style>

</head>
<body style ='background-color:skyblue'>
<h1 style="text-align:center">Dashboard</h1>
<a href = "/TD/showContact/" class = 'btn btn-primary'>Add a Contact</a>
<a href = "/TD/dispContacts/" class = 'btn btn-primary'>Show Contacts</a>
</body>


</html>
